.blue { 
    background: #71deff;
}
.green { 
    background: #36e9b6;
}
.yellow { 
    background: #ffcf44;
}
.purple { 
    background: #b15cff; 
}
.red { 
    background: #e74a4a; 
}
.gray { 
    background: gray; text-decoration: line-through; 
}